body {
  margin: 5% 5% 5% 5%;
  background-color: #F30267;
  font-family: 'Abril Fatface', cursive;  font-size: large;
  color: #02075D;
}

.introText {
  font-size: 30px;
  font-family: 'Abril Fatface', cursive;
  color: #02075D;
  padding-top: 15%;
}

.logo {
  align-self: start;
}

.portfolioButton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  /* grid-auto-rows: 200px; */
  column-gap: 10px;
}